<p id="notice"><%= notice %></p>

<div class="panel-body">
  <div class="panel panel-danger">
<p class= "panel-heading">
  <strong>Users</strong>   
  </p>
  
  <div class="panel body">
    
  <p> 
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
</div>

<p class="panel-footer">

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %> |
<%= link_to 'Back', users_path,  class: "btn btn-info"%>
</p>
</div>
</div>
